<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../css/favoriteCocktails.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="icon" type="image/png" href="./images/favicon/logo.png" />
    <!-- <link rel="stylesheet" href="../sass/index.scss" /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400&display=swap"
      rel="stylesheet"
    />

    <title>Document</title>
  </head>
  <body>
    <main>
      <section class="container-f">
        <div>
          <h2 class="title-fc">Favorite cocktails</h2>
          <ul class="cocktails-list list">
            <div class="empty-search isHidden">
              <svg class="icon" width="142px" height="122px">
                <use href="../images/sprite.svg#icon-shaker-mobile"></use>
              </svg>
              <p class="description">
                Sorry, we <span>didn’t find</span> any cocktail for you
              </p>
            </div>
          </ul>
        </div>
      </section>
    </main>
  </body>

  <script src="../js/favoriteCocktails.js"></script>
</html>
