<footer class="footer">
  <div class="container footer-container">
    <div class="logo-footer-wrapper">
      <a href="./index.html" class="logo-in-footer link">
        <p class="text-logo-footer">DRINKIFY</p>
        <svg class="icon-logo-accent">
          <use href="/src/images/sprite.svg#icon-logo-tablet-menu"></use>
        </svg>
      </a>
    </div>

    <div class="social-footer-wrapper">
      <p class="caption-footer-social">WE IN SOCIAL</p>
      <ul class="social-list-footer list">
        <li class="social-item-footer">
          <a href="https://www.facebook.com/goITclub/" target="_blank" rel="noreferrer noopener"
            class="social-link-footer">
            <svg class="social-icon-footer">
              <use href="/src/images/sprite.svg#icon-facebook-tablet-desktop"></use>
            </svg>
          </a>
        </li>
        <li class="social-item-footer">
          <a href="https://www.instagram.com/goitclub/" target="_blank" rel="noreferrer noopener"
            class="social-link-footer">
            <svg class="social-icon-footer">
              <use href="/src/images/sprite.svg#icon-instagram-tablet-desktop"></use>
            </svg>
          </a>
        </li>
        <li class="social-item-footer">
          <a href="https://www.youtube.com/c/GoIT" target="_blank" rel="noreferrer noopener" class="social-link-footer">
            <svg class="social-icon-footer">
              <use href="/src/images/sprite.svg#icon-youtube-tablet-desktop"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>