<!--Volodimir-->
<footer class="footer" id="footer">
    <div class="container footer-container">
        <div class="logo-footer-wrapper">
            <a href="" class="logo-in-footer">
                <p class="text-logo-footer">DRINKIFY</p>
                <svg class="icon-coctail-footer">
                    <use href=""></use>
                </svg>
            </a>
        </div>

        <div class="social-footer-wrapper">
            <p class="caption-footer-social">
                WE IN SOCIAL
            </p>
            <ul class="social-list-footer">
                <li class="social-item-footer">
                    <a href="https://www.facebook.com/goITclub/" target="_blank" rel="noreferrer noopener"
                        class="social-link-footer">
                        <svg class="social-icon-footer">
                            <use href=""></use>
                        </svg>
                    </a>
                </li>
                <li class="social-item-footer">
                    <a href="https://www.instagram.com/goitclub/" target="_blank" rel="noreferrer noopener"
                        class="social-link-footer">
                        <svg class="social-icon-footer">
                            <use href=""></use>
                        </svg>
                    </a>
                </li>
                <li class="social-item-footer">
                    <a href="https://www.youtube.com/c/GoIT" target="_blank" rel="noreferrer noopener"
                        class="social-link-footer">
                        <svg class="social-icon-footer">
                            <use href=""></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>