<header class="header">
  <div class="container section-header">
    <nav class="header-nav">
      <ul class="header-list list">
        <li class="header-list-item">
          <a href="" class="header-list-link link">Home</a>
        </li>
        <li>
          <a href="" class="header-list-link link">Favorite</a>
        </li>
      </ul>
      <a href="" class="header-link link">
        <span class="header-link-text">Drinkify</span>
        <svg class="header-logo-icon">
          <use href="./images/sprite.svg#icon-logo-mobile-menu"></use>
        </svg>
      </a>
    </nav>

    <button type="button" class="header-open-modal-btn openModal">
      <svg class="header-burger-icon">
        <use href="./images/sprite.svg#icon-burger-mobile-black"></use>
      </svg>
    </button>
  </div>
</header>
