<section class="hero-container container">
  <div class="hero-left">
    <h2 class="hero-title">
      A party without
      <span>cocktails </span>
      <br />is not like a party
    </h2>
    <p class="description">
      From classic sips to exotic mixes, we're your key to becoming a cocktail
      wizard!
    </p>
    <button class="hero-btn" type="submit">View cocktails</button>
  </div>
  <div class="hero-thumb">
    <div class="hero-elements"></div>
    <div class="under-pic">
      <div class="hero-pic"></div>
    </div>
    <div class="description">Search your favorite cocktail by ABC</div>
  </div>
</section>
