<div class="backdrop"></div>
<div class="ingredient-modal" data-modal="1">
  <button type="button" class="ingredient-modal-close-btn">
    <use href="./images/sprite.svg#icon-x-close-modal-learn-mobile-black" />
  </button>

  <h2 class="ingredient-modal-title">Campari</h2>
  <h3 class="ingredient-modal-subtitle">Liqueur</h3>
  <div class="divider"></div>
  <p class="ingredient-modal-description">
    Campari is an Italian alcoholic liqueur, considered an apéritif (20.5%, 21%,
    24%, 25%, or 28.5% ABV, depending on the country in which it is sold),
    obtained from the infusion of herbs and fruit (including chinotto and
    cascarilla) in alcohol and water. It is a bitters, characterised by its dark
    red colour.
  </p>
  <ul class="ingredient-modal-list">
    <li>Type: Bitters</li>
    <li>Country of origin: Italy</li>
    <li>Alcohol by volume: 20.5 - 28.5 %</li>
    <li>Flavour : Bitter, spicy and sweet</li>
  </ul>

  <div class="ingredient-modal-btn-wrapper">
    <button type="button" class="ingredient-modal-favorite-btn">
      Add to favorite
    </button>
    <button type="button" class="ingredient-modal-back-btn">Back</button>
  </div>
</div>
