<div class="ingredient-modal-backdrop"></div>
<div class="ingredient-modal">
  <button type="button" class="ingredient-modal-close-btn">
    <svg class="close-icon">
      <use
        href="./images/sprite.svg#icon-x-close-modal-learn-tablet-desktop-black"
      />
    </svg>
  </button>

  <div class="ingredient-modal-content"></div>

  <div class="ingredient-modal-btn-wrapper">
    <button type="button" class="ingredient-modal-favorite-btn">
      Add to favorite
    </button>
    <button type="button" class="ingredient-modal-back-btn">Back</button>
  </div>
</div>
