<section class="container ingredients" id="section-favorite-ingredients">
<h2 class="ingredients-main-title">Favorite ingredients</h2>
<ul class="ingredients-cards" id="paginated-list"></ul>
<div class="ingredients-placeholder">
    <svg class="icon-placeholder" width="142" height="122">
        <use href="./images/sprite.svg#icon-shaker-mobile"></use>
    </svg>
        <p class="placeholder-text">You haven't added any <span class="placeholder-text-colored">favorite cocktails</span> yet</p>
</div>
</section>