<div>
  <!-- Search -->
  <form class="search-form" id="search-form">
    <button type="submit" class="searching-button">
      <svg class="search-icon" width="16px" height="16px">
        <use href="./images/sprite.svg#icon-search-white"></use>
      </svg>
    </button>
    <input
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search"
      class="search-input"
    />
  </form>
</div>
<!-- Searching results -->
<h2 class="search-title">Searching results</h2>
<div class="searching-results">
  <!-- <ul
    id="paginated-list "
    class="searching-list"
    data-current-page="1"
    aria-live="polite"
  ></ul> -->
  <div class="empty-search empty-search-toggle">
    <svg class="icon-sorry" width="234px" height="201px">
      <use href="./images/sprite.svg#icon-shaker-tablet-desktop"></use>
    </svg>
    <p class="description">
      Sorry, we <span>didnt find</span> any cocktail for you
    </p>
  </div>
</div>
<!-- <nav class="pagination-container">
  <button
    class="pagination-button paginator-item"
    id="prev-button"
    aria-label="Previous page"
    title="Previous page"
  >
    &lt;
  </button>

  <div id="pagination-numbers"></div>

  <button
    class="pagination-button paginator-item"
    id="next-button"
    aria-label="Next page"
    title="Next page"
  >
    &gt;
  </button>
</nav> -->

<!-- <div class="paginator"> -->
<!-- <a class="prev paginator-item" href="#prev">
      <svg class="icon" width="16px" height="16px">
        <use href="./images/sprite.svg#icon-chevron-up-white"></use>
      </svg>
    </a>
    <a href="#1" class="paginator-item current-page">1</a>
    <a href="#2" class="paginator-item">2</a>
    <a href="#3" class="paginator-item">3</a>
    <span class="paginator-item">&hellip;</span>
    <a href="#10" class="paginator-item">10</a>
    <a href="#11" class="paginator-item">11</a>
    <a href="#12" class="paginator-item">12</a>
    <a class="next paginator-item" href="#next">
      <svg class="icon" width="16px" height="16px">
        <use href="./images/sprite.svg#icon-chevron-down-white"></use>
      </svg>
    </a> -->

<!-- </div> -->
