
<nav class="pagination-container">
  <button
    class="pagination-button paginator-item"
    id="prev-button"
    aria-label="Previous page"
    title="Previous page"
  >
    &lt;
  </button>

  <div id="pagination-numbers"></div>

  <button
    class="pagination-button paginator-item"
    id="next-button"
    aria-label="Next page"
    title="Next page"
  >
    &gt;
  </button>
</nav>
<!-- <div class="paginator"> -->
<!-- <a class="prev paginator-item" href="#prev">
      <svg class="icon" width="16px" height="16px">
        <use href="./images/sprite.svg#icon-chevron-up-white"></use>
      </svg>
    </a>
    <a href="#1" class="paginator-item current-page">1</a>
    <a href="#2" class="paginator-item">2</a>
    <a href="#3" class="paginator-item">3</a>
    <span class="paginator-item">&hellip;</span>
    <a href="#10" class="paginator-item">10</a>
    <a href="#11" class="paginator-item">11</a>
    <a href="#12" class="paginator-item">12</a>
    <a class="next paginator-item" href="#next">
      <svg class="icon" width="16px" height="16px">
        <use href="./images/sprite.svg#icon-chevron-down-white"></use>
      </svg>
    </a> -->

<!-- </div> -->
