<nav class="pagination-container container paginator">
  <button
    class="pagination-button paginator-item arrow-button"
    id="prev-button"
    aria-label="Previous page"
    title="Previous page"
  >
    <!-- &lt; -->
    <svg class="icon" width="24px" height="24px">
      <use href="./images/sprite.svg#icon-arrow-left"></use>
    </svg>
  </button>

  <div id="pagination-numbers"></div>

  <button
    class="pagination-button paginator-item arrow-button"
    id="next-button"
    aria-label="Next page"
    title="Next page"
  >
    <!-- &gt; -->
    <svg class="icon" width="28px" height="28px">
      <use href="./images/sprite.svg#icon-arrow-right"></use>
    </svg>
  </button>
</nav>
