<!-- <section class="hero container">
  <div class="hero-container">
    <div class="hero-left">
      <h2 class="hero-title">
        A party without <span>cocktails </span>is not like a party
      </h2>
      <p class="hero-description">
        From classic sips to exotic mixes, we're your key to becoming a cocktail
        wizard!
      </p>
      <button class="hero-btn" type="submit">View cocktails</button>
    </div>
    <div class="hero-right">
      <svg class="icon" width="100%" height="100%">
        <use href="./images/icons.svg#icon-elements"></use>
      </svg>
      <div class="pic-container">
        <div class="under-pic">
          <div class="hero-pic"></div>
        </div>
      </div>

      <div class="descr-2">Search your favorite cocktail by ABC</div>
    </div>
  </div>
</section> -->

<!-- Section Searching Coctails -->
<section class="searching-container container">
  <!-- Keyboard -->
  <!-- Для десктопной версии -->
  <div class="alphabet-buttons">
    <!-- Кнопки с буквами и цифрами будут добавлены с помощью JavaScript -->
  </div>

  <!-- Для мобильной версии -->
  <select class="alphabet-select">
    <!-- Опции с буквами и цифрами будут добавлены с помощью JavaScript -->
  </select>
  <div>
    <!-- Search -->
    <form class="search-form" id="search-form">
      <button type="submit">
        <svg class="icon" width="16px" height="16px">
          <use href="./images/icons.svg#icon-search"></use>
        </svg>
      </button>
      <input
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search"
      />
    </form>
  </div>
  <!-- Searching results -->
  <h2>Searching results</h2>
  <div class="searcing-results">
    <div class="empty-search">
      <svg class="icon" width="16px" height="16px">
        <use href="./images/icons.svg#icon-star"></use>
      </svg>
      <p calss="description">
        Sorry, we <span>didn’t find</span> any cocktail for you
      </p>
    </div>
  </div>
</section>
