
        <section class="hero">
            <div class="hero-container">
                <div class="hero-left">
                    <h2 class="hero-title">A party without 
                        <span>cocktails </span>is not like a party</h2>
                    <p class="hero-description">From classic sips to exotic mixes, we're your key to becoming a cocktail wizard!</p>
                    <button class="hero-btn" type="submit">View cocktails</button>
                </div>
                <div class="hero-right">
                  <svg class="icon one" width="142px" height="142px">
                    <use href="./images/icons.svg#icon-star"></use>
                  </svg>
                  <svg class="icon two" width="53px" height="53px">
                    <use href="./images/icons.svg#icon-star"></use>
                  </svg>
                  <div class="circle" id="one"></div>
                  <div class="circle" id="two"></div>
                  <div class="circle" id="three"></div>
                  <div class="pic-container">
                    <div class="under-pic">
                      <div class="hero-pic"></div>
                    </div>
                  </div>
                                   
                  <div class="descr-2">Search your favorite cocktail by ABC </div>    
                </div>
                
                
             </div>   
        </section>
        <section class="search-coctails">
          <div class="keyboard">

          </div>
          <div>
            <form class="search-form" id="search-form">
            <button type="submit">
               <!-- Search -->
              <svg class="icon" width="16px" height="16px">
                <use href="./images/icons.svg#icon-search"></use>
              </svg>
            </button>  
              <input
                type="text"
                name="searchQuery"
                autocomplete="off"
                placeholder="Search"
            />  
            </div>
          </section>
          <section class="searching-container">
            <h2>Searching results</h2>
            <div class="searcing-results">
            <div class="empty-search">
              <svg class="icon" width="16px" height="16px">
                <use href="./images/icons.svg#icon-star"></use>
              </svg>
              <p calss= "description">Sorry, we <span>didn’t find</span> any cocktail for you</p>
            </div>  
            </div>
          
          </section>
      
     

