button {
  cursor: pointer;
}
button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.cocktails-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 0px;
  padding: 0;
}
.cocktails-item {
  width: 335px;
  padding: 14px 14px 20px 14px;
  border-radius: 20px;
  background: var(--primary-color-interface);
  box-shadow: 0px 4px 46px 0px rgba(0, 0, 0, 0.05);
}

.cocktails-image {
  border-radius: 16px;
  margin-bottom: 20px;
  width: 307px;
  min-height: 257px;
}

.cocktails-name {
  margin-bottom: 14px;
  color: var(--primary-color-text);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 133.33%;
  /* 133.333% */
}

.cocktails-description {
  margin-bottom: 20px;
  overflow: hidden;
  color: var(--primary-color-text);
  text-overflow: ellipsis;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 128.571%;
  /* 128.571% */
  overflow: hidden;
  max-height: 72px;
  width: 296px;
  line-height: 24px;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
}
.cocktails-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cocktails-button {
  width: 232px;
  padding: 13px 70px;
  border-radius: 12px;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  color: var(--secondary-color-interface);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 142%;
  /* 142.857% */
  letter-spacing: 0.28px;
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cocktails-button:hover {
  background: var(--accent-color);
}

.cocktails-button-favorite {
  width: 48px;
  /* height: 48px; */
  padding: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: var(--accent-color);
  border: none;
  line-height: 0;
}

.cocktails-list .icon {
  width: 18px;
  height: 18px;
  fill: none;
}

.icon.isFavorite {
  fill: #fdfdff;
}

@media screen and (min-width: 768px) {
  .cocktails-list {
    gap: 32px 16px;
  }

  .cocktails-image {
    width: 316px;
    min-height: 316px;
    margin-bottom: 24px;
  }

  .cocktails-description {
    margin-bottom: 24px;
    min-height: 72px;
  }

  .cocktails-button {
    width: 228px;
    padding: 16px 55px;
    color: var(--secondary-color-interface);
    font-size: 18px;
    line-height: 133%;
    letter-spacing: 0.36px;
  }

  .cocktails-button-favorite {
    width: 56px;
  }

  .cocktails-list .icon {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .cocktails-item {
    width: calc((100% - 32px) / 3);
  }

  .cocktails-image {
    min-height: 316px;
  }
}
