.cocktails-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(21, 21, 21, 0.6);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 50;
}

.is-hidden {
  display: none;
}

.cocktails-modal {
  position: fixed;
  padding: 40px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 20px;
  z-index: 60;
}

@media screen and (max-width: 320px) {
  .cocktails-modal {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cocktails-modal {
    width: 335px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .cocktails-title {
    display: none;
  }

  .cocktails-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }

  .cocktails-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    width: 100%;
  }

  .cocktail-add-favorite-btn {
    width: 100%;
  }

  .cocktail-back-btn {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .cocktails-modal {
    width: 600px;
    height: 569px;
  }

  .cocktails-info {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }

  .cocktails-btn {
    display: flex;
    gap: 18px;
  }

  .cocktail-add-favorite-btn {
    width: 251px;
    height: 56px;
  }

  .cocktail-back-btn {
    width: 172px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  transition: transform 300ms ease;
}

@media screen and (min-width: 768px) {
  .modal-close-btn {
    top: 18px;
    right: 18px;
    width: 24px;
    height: 24px;
  }
}

.modal-close-btn:hover {
  transform: rotate(180deg);
}

.close-icon {
  transform-origin: center;
  transition: transform 300ms ease;
}

.modal-close-btn > .close-icon {
  width: 20px;
  height: 20px;
  stroke: var(--primary-color-text);
}

.cocktails-img {
  border-radius: 16px;
}

.cocktails-title {
  color: var(--title-modal);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 20px;
}

.cocktails-desc {
  display: flex;
  flex-direction: column;
}

.ingredients-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style-position: inside;
}

.ingredients-list > li {
  color: var(--li-ingredients);
}

.ingredient-element {
  border: none;
  background: transparent;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: var(--li-ingredients);
}

.ingredients-list > li:hover,
.ingredients-list > li:focus {
  color: #7e8fdd;
}

.ingredient-element:hover,
.ingredient-element:focus {
  color: #7e8fdd;
}

.cocktails-ingredients-title {
  color: var(--title-modal);
  margin-bottom: 46px;
}

.cocktails-instructions-title {
  color: var(--title-modal);
  margin-bottom: 17px;
}

.cocktails-instructions {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--primary-transparent-color-text);
  margin-bottom: 20px; /*40px */
}

.cocktail-add-favorite-btn {
  height: 56px;
  border-radius: 12px;
  background: var(--accent-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.75;
  color: rgba(253, 253, 255, 1);
  border: none;
}

.cocktail-add-favorite-btn:hover,
.cocktail-add-favorite-btn:focus {
  background: var(--hover-btn-add-favorite);
}

.cocktail-back-btn {
  height: 56px;
  border-radius: 12px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.75;
  color: var(--title-modal);
  background: var(--bg-back-color);
}

.cocktail-back-btn:hover,
.cocktail-back-btn:focus {
  background: var(--bg-back-color-hover);
}

.back-btn:hover,
.back-btn:focus {
  background: #24242433;
}
