[data-theme='light'] {
  --elements-desktop: url(/src/images/hero/elements-desktop-white.png);
  --elements-tablet: url(/src/images/hero/elements-tablet-white.png);
  --elements-mobile: url(/src/images/hero/elements-mobile-white.png);
}

[data-theme='dark'] {
  --elements-desktop: url(/src/images/hero/elements-desktop-dark.png);
  --elements-tablet: url(/src/images/hero/elements-tablet-dark.png);
  --elements-mobile: url(/src/images/hero/elements-mobile-dark.png);
}

.hero-container {
  margin-bottom: 33px;
  /* outline: 0.1px solid red; */
}

.hero-title {
  color: var(--primary-black-color);
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 118.75%;
  margin: 0;
}

span {
  color: var(--accent-color);
  font-style: italic;
}

.description {
  margin-top: 18px;
  margin-bottom: 0;
  color: var(--primary-color-text);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
}

.hero-btn {
  margin-top: 36px;
  min-width: 178px;
  padding: 14px 28px;
  border-radius: 12px;
  border: none;
  background: var(--accent-color);
  color: var(--primary-white-color);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 142%;
  /* 133.333% */
  letter-spacing: 0.36px;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
  background: #6e7fcf;
}

.hero-thumb {
  position: relative;
  width: 342px;
  height: 481px;
  margin-top: 27px;
}

.hero-thumb .hero-elements {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  background: var(--elements-mobile);
  background-repeat: no-repeat;
  background-size: contain;
}

.under-pic {
  position: absolute;
  top: 55px;
  right: 55px;
  bottom: 0;
  z-index: 1;
  width: 230px;
  height: 338px;
  border-radius: 80px 0px;
  background: var(--accent-color);
  box-shadow: 0px 28px 75px 0px rgba(88, 109, 204, 0.5);
}

.hero-pic {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  z-index: 3;
  width: 354px;
  height: 387px;
  background: url('../images/hero/girl-mobile.png') no-repeat;
}

.hero-thumb .description {
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 173px;
  text-transform: uppercase;
  transform: translateX(50%);
  letter-spacing: 0.32px;
}

@media screen and (min-width: 768px) {
  .hero-container {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    position: relative;
    height: 593px;
    margin-bottom: 100px;
  }

  .hero-left {
    width: 371px;
    position: absolute;
    left: 32px;
    top: 124px;
  }

  .hero-title {
    font-size: 44px;
    line-height: 109%;
    width: 384px;
  }

  .description {
    width: 338px;
    font-size: 16px;
    line-height: 150%;
    margin-top: 24px;
  }

  .hero-btn {
    min-width: 245px;
    /* margin-bottom: 237px; */
    margin-top: 48px;
    padding: 22px 44px;
    font-size: 18px;
    line-height: 133%;
  }

  .hero-thumb {
    margin: 0;
    width: 427px;
    height: 593px;
    position: absolute;
    top: 0;
    right: -14px;
  }

  .hero-thumb .hero-elements {
    background: var(--elements-tablet) no-repeat;
  }

  .under-pic {
    width: 293px;
    height: 417px;
    top: 78px;
    left: 80px;
  }

  .hero-pic {
    background: url('../images/hero/girl-tablet.png') no-repeat;
    width: 333px;
    height: 451px;
    right: 0;
    transform: translateX(0%);
  }

  .hero-thumb .description {
    width: 198px;
    left: 131px;
    transform: translateX(0);
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .hero-left {
    position: static;
    margin-top: 127px;
  }
  .hero-title {
    width: 555px;
    font-size: 64px;
  }

  .description {
    width: 480px;
    font-size: 20px;
    line-height: 130%;
    margin-top: 28px;
  }

  .hero-btn {
    margin-bottom: 0;
  }

  .hero-thumb {
    position: relative;
    width: 552px;
    height: 672px;
    right: -83px;
  }

  .hero-thumb .hero-elements {
    z-index: 3;
    background: var(--elements-desktop) no-repeat;
  }

  .under-pic {
    width: 380px;
    height: 476px;
    top: 98px;
    right: 83px;
  }

  .hero-pic {
    background: url('../images/hero/girl-desktop.png') no-repeat;
    width: 410px;
    height: 565px;
  }

  .hero-thumb .description {
    width: 219px;
    left: 170px;
    font-size: 18px;
    line-height: 133%;
  }
}
