/* Стили для устройств с узким экраном (768px и меньше) */
@media screen and (max-width: 768px) {
  /* Скрываем список кнопок с буквами и цифрами*/
  .alphabet-buttons {
    display: none;
  }
  /* Показываем выпадающий список*/
  .alphabet-select {
    display: flex;
  }
  /* Скрывает псевдоэлемент ::after внутри элемента .choices, который имеет атрибут data-type с частичным совпадением "select-one"  ЭТО Стрелка вниз*/
  .choices::after {
    display: none;
  }

  /* Стили для внешнего контейнера .choices */
  .choices {
    width: 90px;
    margin-left: auto;
    margin-right: auto;

    text-align: left;
  }

  /* Стили для внутреннего контейнера .choices__inner */
  .choices__inner {
    width: 90px;
    height: 34px;
    background-color: rgba(126, 143, 221, 0.4);
    color: #fdfdff;
    border-radius: 8px;
    border: none;
    padding: 8px 14px;
    appearance: none;
    background-image: url('/src/images/chevron-down.svg');
    background-repeat: no-repeat;
    background-position: 80%; /* Положение cвг */

    /* margin-top: 40px; */
    /* ! МНЕ это не нравится */
    margin-bottom: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* Стили для .choices__inner, когда .choices находится в открытом состоянии */
  .is-open .choices__inner {
    background-color: var(--additional-accent-color);
    color: var(--primary-color-interface);
    border-radius: 8px;
    border: none;
    padding: 8px 15px;
    appearance: none;
    background-image: url('/src/images/chevron-up.svg');
    background-repeat: no-repeat;
    background-position: 80%; /* Положение cвг */
    justify-content: space-between;
    align-items: center;

    /* ! МНЕ это не нравится */
    margin-bottom: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .choices__list--dropdown,
  .choices__list[aria-expanded] {
    overflow-y: scroll;
    max-height: 84px;
  }

  /* Стили для полосы прокрутки в выпадающем меню */
  .choices__list--dropdown::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;

    /* ! НЕ РАБОТАЕТ ничего!!!!  отодвинуть полосу прокрутки внутри выпадающего списка ближе к центру на 4px */
    /* Отодвигаем полосу прокрутки от правого края на 4px */
    /* right: 4px;  */
    /* margin-right: 4px; */
    /* margin-right: auto; */
  }

  /* Стили для бегунка (ползунка) полосы прокрутки в выпадающем меню */
  .choices__list--dropdown::-webkit-scrollbar-thumb {
    height: 34px;
    background-color: var(--additional-accent-color); /* Цвет бегунка */
    border-radius: 4px; /* Скругление углов бегунка */
  }

  /* Стили для выпадающего списка .choices__list--dropdown и .choices__list[aria-expanded] */
  .is-open .choices__list--dropdown,
  .is-open .choices__list[aria-expanded] {
    font-size: 16px;
    background-color: #fdfdff;
    color: #242424;
    border: 1px solid var(--additional-accent-color);
    border-radius: 4px;
    font-family: 'Poppins', serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    width: 90px;
    height: 84px;
  }

  /* Стили для элементов списка .choices__item внутри выпадающего списка */
  .choices__list--dropdown .choices__item,
  .choices__list[aria-expanded] .choices__item {
    padding: 4px 10px;
  }

  /* Стили для элементов списка .choices__item, когда .choices__list--single */
  .choices__list--single .choices__item {
    font-family: 'Poppins', serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
  }

  .choices__list--dropdown .choices__item--selectable.is-highlighted,
  .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background-color: transparent;
  }

  /* Эти стили нужно применить к  choices__inner после того как выбор из списка сделан и выбранная буква отображается в choices__inner */
  .choices.is-focused .choices__inner {
    background-color: var(--additional-accent-color);
    color: #fdfdff;
    background-repeat: no-repeat;
    background-position: 80%; /* Положение cвг */

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* Стили для меню прокрутки */
  .choices__list--dropdown .choices__list,
  .choices__list[aria-expanded] .choices__list {
    position: relative;
    max-height: 650px;
    overflow: hidden;
  }
}

/* ====================================================== */
/* Стили для устройств с широким экраном (шире 768px) */
@media screen and (min-width: 769px) {
  /* Отображаем список кнопок с буквами и цифрами в виде горизонтальной строки с переносом на новую строку */
  .alphabet-buttons {
    display: flex;
    row-gap: 16px;
    column-gap: 8px;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 100px;
    margin-bottom: 50px;
  }

  /* Скрываем выпадающий список на широких экранах */
  .alphabet-select,
  .choices {
    display: none;
  }
}

/* Стили для кнопок с буквами и цифрами */
@media screen and (min-width: 769px) {
  .letter-button {
    width: 40px;
    height: 40px;

    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    background-color: rgba(126, 143, 221, 0.4);
    color: var(--primary-color-interface);

    border-radius: 8px;
    border: none;

    padding: 0;

    /* Анимация изменения фона при наведении и фокусе */
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: #fdfdff;
  }

  /* Стили для кнопок с буквами и цифрами при наведении и фокусе */
  .letter-button:hover,
  .letter-button:focus {
    background-color: var(--additional-accent-color);
  }
}
