@import url('./theme.css');
@import url('./ingredients.css');
@import url('./favorite-cocktails.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./burger-menu.css');
@import url('./search-by-letter.css');
@import url('./search-by-word.css');
@import url('./cocktails-modal.css');
@import url('./footer.css');
@import url('./ingredient-modal.css');
@import url('./card-cocktail.css');
@import url('./searching.css');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

:root {
  --main-font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  font-family: var(--main-font-family);
  background: var(--bg-color);
  background-image: var(--bg-image);

  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  body {
    background-image: var(--bg-image-mob);
    /* Центрирование по центру */
    background-position: top center;
  }
}

@media screen and (min-width: 769px) {
  body {
    background-image: var(--bg-image-tablet);
    /* Центрирование по горизонтали, -183px от низа */
    /* background-position: center bottom -183px;  */
  }
}

@media screen and (min-width: 1280px) {
  body {
    background-image: var(--bg-image-desktop);
    /* Центрирование по горизонтали, -191px от низа 
    background-position: center bottom -191px;  */
  }
}

@media screen and (min-width: 320px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 375px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    width: 375px;
  }
}

@media screen and (max-width: 375px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
    width: 1280px;
  }
}
