@import url('./theme.css');
@import url('./searchByLetter.css');
@import url('./hero.css');
@import url('./footer.css');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

body {
  font-family: var(--main-font-family);
  background: rgb(248, 249, 255);
  /* background-image: linear-gradient(
      292deg,
      rgba(248, 249, 255, 1) 84%,
      rgba(156, 223, 223, 1) 104%
    ),
    linear-gradient(
      117deg,
      rgba(248, 249, 255, 1) 84%,
      rgba(156, 223, 223, 1) 104%
    );
  background-repeat: no-repeat;
  background-size: contain; */
}

@media screen and (min-width: 320px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 375px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    width: 375px;
  }
}

@media screen and (max-width: 375px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
    width: 1280px;
  }
}

