:root {
  --main-font-family: 'Poppins', sans-serif;
  --accent-color: #7e8fdd;
  --additional-accent-color: #9cdfdf;
  --primary-white-color: rgb(253, 253, 255);
  --primary-black-color: rgb(36, 36, 36);
  --primary-button-backgroun: rgba(126, 143, 221, 1);
  --primary-button-accent-backgroun: rgba(110, 127, 207, 1);
  --secondary-button-backgroun: rgba(36, 36, 36, 0.1);
  --secondary-button-accent-backgroun: rgba(36, 36, 36, 0.2);
  --secondary-button-backgroun-dark: rgba(253, 253, 255, 0.1);
  --secondary-button-accent-backgroun-dark: rgba(253, 253, 255, 0.2);
  --opacity-50: 0.5;
  --opacity-20: 0.2;
  --opacity-10: 0.1;
}

[data-theme='light'] {
  --primary-color-text: var(--primary-black-color);
  --primary-color-interface: var(--primary-white-color);
  --secondary-color-interface: rgb(248, 249, 255);
  --back-button-background: var(--secondary-button-backgroun);
  --back-button-accent-background: var(--secondary-button-accent-backgroun);
}

[data-theme='dark'] {
  --primary-color-text: var(--primary-white-color);
  --primary-color-interface: var(--primary-black-color);
  --secondary-color-interface: rgb(35, 35, 48);
  --back-button-background: var(--secondary-button-backgroun-dark);
  --back-button-accent-background: var(
    --secondary-button-accent-backgroun-dark
  );
}

/* background-color: rgba(--primary-color-text), var(--opacity-10)); */

/* .button {
  background-color: var(--primary-color-interface);
  color: var(--primary-color-interface);
} */
