.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #15151599;
    z-index: -1;
}

.ingredient-modal {
    position: relative;
    padding: 40px 20px;
    border-radius: 20px;
    background-color: #F8F9FF;
    z-index: 100;

    &-close-btn {
        position: absolute;
        top: 14px;
        right: 14px;
        width: 22px;
        height: 22px;
        cursor: pointer;
    }

    &-title {
        margin: 0 0 8px;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        color: #242424;
    }

    &-subtitle {
        margin: 0 0 20px;
        font-size: 14px;
        font-family: Poppins;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 18px;
        color: rgba(36.12, 36.12, 36.12, 0.50);
    }

    &-description {
        margin: 20px 0 40px;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        color: rgba(36.12, 36.12, 36.12, 0.50);
    }

    &-list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin: 0 0 40px;
        padding-left: 20px;
        font-size: 14px;
        font-family: Poppins;
        font-weight: 400;
        line-height: 18px;
        color: rgba(36.12, 36.12, 36.12, 0.80);
    }

    &-btn-wrapper {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    &-favorite-btn,
    &-back-btn {
        padding: 14px;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.28px;
        border: none;
        border-radius: 12px;
        cursor: pointer;
    }

    &-favorite-btn {
        color: #FDFDFF;
        background-color: #7E8FDD;
    }

    &-back-btn {
        color: #242424;
        background-color: rgba(36, 36, 36, 0.1);
    }
}

.divider {
    width: 100%;
    height: 2px;
    background-color: rgba(36.12, 36.12, 36.12, 0.10);
}
